.steps-body {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  flex-flow: row wrap; }
  .steps-body .box {
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s;
    padding: 1rem;
    display: flex;
    margin: 10px 3%;
    flex-basis: 200px;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid #afafaf;
    color: #636262;
    height: 60px;
    border-radius: 50px;
    font-size: 18px; }
    .steps-body .box:hover {
      background-color: #ccc; }
    .steps-body .box.price-box {
      padding-right: 5rem;
      flex-basis: 250px; }

.steps-title {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  color: #777; }
