.landing {
  width: 100%;
  /* Large Screen */
  /* Ipad */ }
  .landing .logo {
    height: 50px; }
  .landing .header {
    background: url("./assets/header.jpg");
    background-repeat: no-repeat;
    height: 350px;
    padding-top: 20px;
    background-size: cover; }
  .landing .header ul {
    color: #fff; }
  .landing .header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px; }
  .landing .container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; }
  @media screen and (max-width: 1400px) {
    .landing .top {
      padding: 0 50px; } }
  @media screen and (max-width: 950px) {
    .landing .container {
      /*padding: 0 80px;*/ }
    .landing .header ul li {
      margin: 0 10px; } }
  .landing .repair-phone {
    margin: 0 auto;
    font-size: 25px;
    margin-top: 30px;
    border-radius: 18px;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    z-index: 100;
    padding: 18px;
    transition: all .3s;
    color: #000;
    text-decoration: none; }
  .landing .repair-phone:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.8); }
  .landing .top {
    display: flex;
    justify-content: space-between;
    padding: 0 100px; }
  .landing .slogan {
    text-align: left;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 40px; }
    .landing .slogan div {
      margin-bottom: 10px; }
  .landing .sub-slogan {
    text-align: left;
    font-size: 17px;
    color: #fff;
    text-align: center;
    margin-top: 15px; }
  .landing .box {
    width: 30%;
    padding: 30px;
    border: solid 1px #eee;
    box-sizing: border-box;
    display: inline-flex;
    flex-wrap: wrap; }
  .landing .step {
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px; }
  .landing .content {
    margin: 50px 0;
    display: flex;
    justify-content: space-between; }
  .landing .mid_banner {
    background-color: #f2f2f2; }
  .landing .mid_box {
    width: 25%;
    display: inline-block;
    border-left: solid 1px #ccc;
    box-sizing: border-box;
    padding: 20px; }
  .landing .mid_title {
    font-size: 18px;
    font-weight: bold;
    color: #999999; }
  .landing .mid_content {
    font-size: 14px;
    margin-top: 5px; }
  .landing .title {
    margin-top: 50px; }
  @media screen and (max-width: 767px) {
    .landing .content {
      display: block;
      margin-bottom: 0; }
      .landing .content .box {
        width: 100%; }
    .landing .mid_box {
      width: 100%;
      border-bottom: solid 1px #ccc; }
    .landing .top .logo {
      height: 35px; }
    .landing .slogan {
      margin-top: 0;
      font-size: 25px; }
    .landing .repair-phone {
      margin-top: 15px; } }
  @media screen and (max-width: 768px) {
    .landing .content {
      display: block;
      margin-bottom: 0; }
      .landing .content .box {
        width: 100%; }
    .landing .mid_box {
      width: 100%;
      border-bottom: solid 1px #ccc; }
    .landing .top {
      display: inline-block;
      padding: 0;
      padding-left: 20px;
      text-align: left;
      width: 100%; }
      .landing .top .logo {
        height: 35px; }
    .landing .slogan {
      margin-top: 0; }
    .landing .repair-phone {
      margin-top: 15px; } }
