
.steps-title {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  color: #777;
}

.zip-code {
  max-width: 500px;
  margin: 0 auto;
}

.zip-code-input {
  padding: 15px 40px;
  box-sizing: border-box;
  border: 1px solid #aebcce;
  border-radius: 100px;
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.zip-code-body {
  text-align: center;
  margin: 50px;
  margin-top: 20px;
}

.zip-code-button {
  margin: 0 auto;
  background-color: #2B64B0;
  border: none;
  position: absolute;
  margin-left: -100px;
  padding: 8px 34px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  cursor: pointer;
  &:hover, &:focus {
    outline: none;
  }
}

@media screen and (max-width: 767px) {
  .zip-code-input {
    padding-left: 15px;
    font-size: 14px;
  }
}