.content-device {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  flex-flow: row wrap;
  .box {
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s;
    padding: 1rem;
    display: flex;
    margin: 10px 3%;
    flex-basis: 200px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 2px solid #afafaf;
    color: #636262;

    height: 60px;
    border-radius: 50px;
    font-size: 18px;
    &:hover {
      background-color: #ccc;
    }
  }
}

.device-title {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  color: #777;
}

.price-label {
  background-color: #2b64b0;
  padding: 18px;
  color: white;
  position: absolute;
  right: 0px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  &.with-coupon {
    padding-top: 26px;
    padding-bottom: 10px;
  }
}

.price-label-prev {
  font-size: 14px;
  color: white;
  position: absolute;
  right: 0;
  text-decoration: line-through;
  top: 5px;
  left: 0;
  height: 2px;
}

.coupon-content {
  text-align: center;
  margin-top: 20px;

  input {
    padding: 10px;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: none;
  }
}