.content-repair {
  text-align: center;
  margin-top: 10%;
  .box-device {
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px #eee;
    padding: 50px 100px;
    color: black;
    text-decoration: none;
    transition: all .3s;
    font-size: 30px;
    &:hover {
      background-color: #ccc;
    }
    &:first-of-type {
      margin-right: 100px;
    }
  }

  @media screen and (max-width: 768px) {
    .box-device {
      &:first-of-type {
        margin-right: 20px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .box-device {
      font-size: 20px;
      width: 100%;
      &:first-of-type {
        margin-right: 0px;
      }
    }
  }

}