.content-device {
  text-align: center;
  margin-top: 10%; }
  .content-device .box {
    box-sizing: border-box;
    display: inline-block;
    border: solid 1px;
    padding: 100px;
    color: black;
    text-decoration: none;
    transition: all .3s;
    font-size: 30px; }
    .content-device .box:hover {
      background-color: #ccc; }
    .content-device .box:first-of-type {
      margin-right: 100px; }
