.booking-device {
  display: inline-block;
  width: 70%;
  text-align: left;
  .booking-item {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    .booking-title {
      display: inline-block;
      color: grey;
      font-size: 16px;
      margin-right: 50px;
    }
    .booking-content {
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

.booking-helper {
  display: inline-block;
  width: 30%;
}

.booking .schedule-body{
  max-width: 800px;
}