.booking-device {
  display: inline-block;
  width: 60%;
  text-align: left; }
  .booking-device .booking-item {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    display: flex; }
    .booking-device .booking-item .booking-title {
      display: inline-block;
      color: grey;
      font-size: 16px;
      width: 120px; }
    .booking-device .booking-item .booking-content {
      display: inline-block;
      font-weight: bold;
      font-size: 18px; }
      .booking-device .booking-item .booking-content .coupon-price-prev {
        font-size: 14px;
        margin-right: 10px;
        text-decoration: line-through; }

.booking-helper {
  display: inline-block;
  width: 40%;
  padding-left: 30px; }
  .booking-helper .what-next {
    margin-bottom: 150px; }
    .booking-helper .what-next li {
      list-style: none;
      font-size: 16px;
      margin: 20px 0; }
  .booking-helper .contact-info span {
    font-weight: bold; }

.booking .schedule-body {
  max-width: 800px; }

.booking-body {
  display: flex; }

.booked-content {
  margin: 0;
  margin-top: 20px; }

.booked-success {
  height: 30px;
  padding-left: 5px;
  position: absolute;
  padding-top: 3px; }

.booked-content-success {
  line-height: 40px; }

@media screen and (max-width: 767px) {
  .booking-body {
    display: block; }
    .booking-body .booking-device, .booking-body .booking-helper {
      width: 100%;
      padding: 0; }
    .booking-body .what-next {
      margin: 0;
      padding: 0;
      margin-bottom: 150px; } }
