body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.disabled {
  background-color: #dfe0e4;
}
.disabled:hover{
  background-color: #dfe0e4 !important;
}